.wy-nav-side {
    color: #9b9b9b;
    background: #2e3e4e;
}
.wy-side-nav-search {
    background-color: #3869d4;
}
.wy-nav-top {
    background: #3869d4;
}
.rst-content a:visited {
    color: #3869d4;
}
.rst-content a {
    color: #3869d4;
}